﻿// ----------------------------------------------------------------------------
// ------------------------------------- Colours
// ----------------------------------------------------------------------------

@black: #090909;
@charcoal: #333333;
@white: #FFFFFF;
@yellow: #ffc000;
@blue: #3A5795;
@grey: #CCC;
@orange: #F50;


// ----------------------------------------------------------------------------
// ------------------------------------- Variables
// ----------------------------------------------------------------------------

@gutter: 15px;
@gutter-lite: @gutter/3*2;

// ----------------------------------------------------------------------------
// ------------------------------------- Generic
// ----------------------------------------------------------------------------

@import 'fonts.less';

html {
	min-height: 100%;
}

body {
	font-family: 'blanchcaps', Arial, Helvetica, sans-serif;
	font-size: 160%;
	background: url(../images/background.jpg) center top no-repeat #000;
	color: @white;
	line-height: 100%;
	padding-top: @gutter;
	padding-bottom: @gutter;
	min-height: 100%;
}

h1, h2, h3, p {
	margin: 0 0 @gutter 0;
}

h2 {
	font-size: 120%;
	color: @yellow;
}

a {
	color: @white;
	text-decoration: none;

	&:hover, &:focus {
		color: @yellow;
		text-decoration: none;

		.yellow {
			color: @white;
		}
	}

	&:focus {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
}

ol, ul {
	margin: 0;
	padding: 0;
}

.yellow {
	color: @yellow;
}

img {
	width: 100%;
}

.text-right {
	text-align: right;
}

.large {
	font-size: 200% !important;
	font-family: 'blanchcaps' !important;
}

hr {
	border-top: 1px dashed @yellow;
}

[typeof="foaf:Image"] {
	margin-bottom: @gutter;
}

// ----------------------------------------------------------------------------
// ------------------------------------- Carousel
// ----------------------------------------------------------------------------

.carousel {
	margin-bottom: @gutter;
	width: 100%;

	.carousel-inner {
		.item {
			a {
				display: block;
				max-width: 100%;
				height: auto;

				img {
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Content
// ----------------------------------------------------------------------------

#content {
	p, ul {
		font-family: 'open_sansregular', Arial, sans-serif;
		font-size: 14px;
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Events
// ----------------------------------------------------------------------------

.node-event {
	.hero {
		margin-bottom: @gutter;

		img {
			width: 100%;
			height: auto;
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- venue
// ----------------------------------------------------------------------------

.node-venue {
	map {
		width: 350px;
		height: 350px;
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Panels
// ----------------------------------------------------------------------------

.panel {
	background: @charcoal;

	.panel-heading {
		h2 {
			margin: 0;
		}
	}

	&.panel-teaser {
		.panel-body {
			padding: 0;

			img {
				width: 100%;
				height: auto;
				margin-bottom: 0;
			}
		}

		.list-group {
			li {
				background-color: @charcoal;
				font-size: 80%;
				background-size: 15px 15px;
				background-position: 15px center;
				background-repeat: no-repeat;
				border-color: lighten(@black, 10%) !important;

				&.list-group-item-date {
					padding-left: 45px;
					background-image: url(../images/events-icon.png);
				}

				&.list-group-item-venue {
					padding-left: 45px;
					background-image: url(../images/venues-icon.png);
				}

				&.list-group-item-tags {
					a {
						margin-right: 5px;

						&:before {
							content: "#";
						}

						&:nth-child(odd) {
							color: @yellow;
						}
					}
				}

				h2 {
					margin-bottom: 0;
				}
			}
		}
	}

	&.panel-resident {
		img {
			-webkit-filter: grayscale(100%);
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
			filter: @grey;

			&:hover, &:focus {
				-webkit-filter: grayscale(0);
			}
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Logo
// ----------------------------------------------------------------------------

#logo {
	width: 250px;
	display: block;
	margin-right: auto;
	margin-left: auto;

	img {
		width: 100%;
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Buttons
// ----------------------------------------------------------------------------

.btn {
	width: 100%;
	border: none;
	padding: @gutter;
	margin-bottom: @gutter;
	font-size: 120%;
	-webkit-appearance: button;
	text-align: center;

	&.btn-yellow {
		background-color: @yellow;
		color: @black;

		&:hover, &:focus {
			background-color: darken(@yellow, 10%);
		}
	}

	&.btn-blue {
		background-color: @blue;
		color: @white;
		display: block;
		text-align: center;

		&:hover, &:focus {
			background-color: darken(@blue, 10%);
		}
	}

	&.btn-orange {
		background-color: @orange;
		color: @white;
		display: block;
		text-align: center;

		&:hover, &:focus {
			background-color: darken(@orange, 10%);
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Triptych
// ----------------------------------------------------------------------------

#triptych {
	.region {
		border: 1px dashed @yellow;
		padding: @gutter;

		h2 {
			color: @white;
			letter-spacing: 4px;

			&::first-letter {
				color: @yellow;
			}
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Wells
// ----------------------------------------------------------------------------

.well {
	border: 1px dashed @yellow;
	padding: @gutter;
	margin-bottom: @gutter;
}

// ----------------------------------------------------------------------------
// ------------------------------------- Tags
// ----------------------------------------------------------------------------

[typeof="skos:Concept"] {
	&:before {
		content: "#";
	}

	&:nth-child(odd) {
		color: @yellow;
	}

	&:last-child {
		margin-bottom: @gutter;
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Main menu
// ----------------------------------------------------------------------------

#main-menu {
	border-top: 1px dashed @white;
	border-bottom: 1px dashed @white;
	margin-bottom: @gutter;
	padding-left: 0;

	li {
		a {
			background-repeat: no-repeat;
			background-position: center top;
			padding-top: 45px;

			&[title="home"] {
				background-image: url(../images/home-icon.png);
			}

			&[title="events"] {
				background-image: url(../images/events-icon.png);
			}

			&[title="contact"] {
				background-image: url(../images/contact-icon.png);
			}

			&[title="mail"] {
				background-image: url(../images/mail-icon.png);
			}
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Navs
// ----------------------------------------------------------------------------

.nav {
	padding: @gutter 0;
	list-style: none;

	li {
		a {
			font-size: 100%;
		}

		&.active {
			a {
				color: @yellow;
			}
		}
	}

	&.nav-inline {
		li {
			display: inline-block;

			&:not(.last) {
				margin-right: @gutter;
			}
		}
	}

	&.nav-justified {
		li {
			display: table-cell;
			width: 1%;
			float: none;

			a {
				display: block;
				text-align: center;
			}
		}
	}

	&.nav-social {
		li {
			a {
				padding-left: 55px;
				background-repeat: no-repeat;
				background-position: left 12px;
				letter-spacing: 3px;

				&[title="facebook"] {
					background-image: url(../images/facebook-icon.png);
				}

				&[title="instagram"] {
					background-image: url(../images/instagram-icon.png);
				}
			}
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Maintenance
// ----------------------------------------------------------------------------

.maintenance {
	h1 {
		font-size: 600%;
		font-weight: 400;
		text-align: center;
		letter-spacing: 10px;
	}

	p {
		display: inline-block;
		margin: 0;
		padding: 0;

		&:first-letter {
			color: @yellow;
		}
	}

	a {
		font-size: 48px !important;
		padding-bottom: 15px !important;
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Forms
// ----------------------------------------------------------------------------

.form-item {
	margin-bottom: 15px;

	label {
		display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
	}

	.form-textarea-wrapper textarea, .form-text {
		display: block;
		width: 100%;
		min-height: 34px;
		padding: 6px 12px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #FFF;
		background-image: none;
		border: 1px solid #CCC;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		-moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Events list
// ----------------------------------------------------------------------------

#block-views-events-block {
	ol {
		list-style: none;
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Event Photos
// ----------------------------------------------------------------------------

#event-photos {
	a {
		position: relative;
		min-height: 1px;
		padding-right: 7.5px;
		padding-left: 7.5px;
		float: left;
	}
}

@media (min-width: 768px) {
	#event-photos {
		a {
			width: 50%;
		}
	}
}

@media (min-width: 992px) {
	#event-photos {
		a {
			width: 33.33333333%;
		}
	}
}

@media (min-width: 1200px) {
	#event-photos {
		a {
			width: 25%;
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Colorbox
// ----------------------------------------------------------------------------


#colorbox, #cboxOverlay, #cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
}

#cboxWrapper {
	max-width: none;
}

#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
	clear: left;
}

#cboxContent {
	position: relative;
}

#cboxLoadedContent {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#cboxTitle {
	margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor: pointer;
}

.cboxPhoto {
	float: left;
	margin: auto;
	border: 0;
	display: block;
	max-width: none;
	-ms-interpolation-mode: bicubic;
}

.cboxIframe {
	width: 100%;
	height: 100%;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}


#cboxOverlay {
	background: url(../images/overlay.png) repeat 0 0;
	opacity: 0.9;
}

#colorbox {
	outline: 0;
}

#cboxTopLeft {
	width: @gutter;
	height: @gutter;
	background: @charcoal;
}

#cboxTopRight {
	width: @gutter;
	height: @gutter;
	background: @charcoal;
}

#cboxBottomLeft {
	width: @gutter;
	height: @gutter;
	background: @charcoal;
}

#cboxBottomRight {
	width: @gutter;
	height: @gutter;
	background: @charcoal;
}

#cboxMiddleLeft {
	width: @gutter;
	background: @charcoal;
}

#cboxMiddleRight {
	width: @gutter;
	background: @charcoal;
}

#cboxTopCenter {
	height: @gutter;
	background: @charcoal;
}

#cboxBottomCenter {
	height: @gutter;
	background: @charcoal;
}

#cboxContent {
	background: @charcoal;
	overflow: hidden;
}

.cboxIframe {
	background: @charcoal;
}

#cboxError {
	padding: 50px;
	border: 1px solid #ccc;
}

#cboxTitle {
	position: absolute;
	bottom: 4px;
	left: 0;
	text-align: center;
	width: 100%;
	color: @black;
}

#cboxCurrent {
	position: absolute;
	bottom: 4px;
	left: 58px;
	color: @yellow;
}

#cboxLoadingOverlay {
	background: url(../images/loading_background.png) no-repeat center center;
}

#cboxLoadingGraphic {
	background: url(../images/loading.gif) no-repeat center center;
}


#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	width: auto;
	background: none;
}

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
	outline: 0;
}

#cboxSlideshow {
	position: absolute;
	bottom: 4px;
	right: 30px;
	color: @yellow;
}

#cboxPrevious {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../images/controls.png) no-repeat -75px 0;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
}

#cboxPrevious:hover {
	background-position: -75px -25px;
}

#cboxNext {
	position: absolute;
	bottom: 0;
	left: 27px;
	background: url(../images/controls.png) no-repeat -50px 0;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
}

#cboxNext:hover {
	background-position: -50px -25px;
}

#cboxClose {
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(../images/controls.png) no-repeat -25px 0;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
}

#cboxClose:hover {
	background-position: -25px -25px;
}

// ----------------------------------------------------------------------------
// ------------------------------------- Ripple
// ----------------------------------------------------------------------------

.ripple {
	position: absolute;
	z-index: -1;
	top: 140px;
	left: 50%;
	display: block;
	border-radius: 2px;
	width: 2px;
	height: 2px;
	-webkit-animation: rip 1s infinite;
	-moz-animation: rip 1s infinite;
	-o-animation: rip 1s infinite;
	animation: rip 1s infinite;

	&:before, &:after {
		display: block;
		border-radius: 2px;
		width: 2px;
		height: 2px;
		-webkit-animation: rip 6s infinite;
		-moz-animation: rip 6s infinite;
		-o-animation: rip 6s infinite;
		animation: rip 6s infinite;
		content: '';
		position: absolute;
	}

	&:before {
		-webkit-animation-delay: .2s;
		-moz-animation-delay: .2s;
		-o-animation-delay: .2s;
		animation-delay: .2s;
		top: 5px;
		left: 25px;
	}

	&:after {
		-webkit-animation-delay: .8s;
		-moz-animation-delay: .8s;
		-o-animation-delay: .8s;
		animation-delay: .8s;
		top: 25px;
		left: 0;
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Keyframes
// ----------------------------------------------------------------------------

@-webkit-keyframes rip {
	0% {
		box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
		opacity: 0;
	}

	5% {
		box-shadow: 0 0 0 0 @charcoal, 0 0 0 0 rgba(255,255,255,0.4), 0 0 0 0 @charcoal, 0 0 0 0 rgba(0,0,0,0.08);
		opacity: 1;
	}

	100% {
		box-shadow: 0 0 40px 200px @charcoal, 0 0 10px 210px transparent, 0 0 30px 220px @charcoal, 0 0 5px 230px transparent;
	}
}

@keyframes rip {
	0% {
		box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
		opacity: 0;
	}

	5% {
		box-shadow: 0 0 0 0 @charcoal, 0 0 0 0 rgba(255,255,255,0.4), 0 0 0 0 @charcoal, 0 0 0 0 rgba(0,0,0,0.08);
		opacity: 1;
	}

	100% {
		box-shadow: 0 0 40px 200px @charcoal, 0 0 10px 210px transparent, 0 0 30px 220px @charcoal, 0 0 5px 230px transparent;
	}
}

@-moz-keyframes rip {
	0% {
		box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
		opacity: 0;
	}

	5% {
		box-shadow: 0 0 0 0 @charcoal, 0 0 0 0 rgba(255,255,255,0.4), 0 0 0 0 @charcoal, 0 0 0 0 rgba(0,0,0,0.08);
		opacity: 1;
	}

	100% {
		box-shadow: 0 0 40px 200px @charcoal, 0 0 10px 210px transparent, 0 0 30px 220px @charcoal, 0 0 5px 230px transparent;
	}
}
