﻿@font-face {
  font-family: 'blanchcaps';
  src: url(../fonts/blanch-caps/regular/blanch_caps.eot);
  src: url(../fonts/blanch-caps/regular/blanch_caps.eot?#iefix) format('embedded-opentype'), url(../fonts/blanch-caps/regular/blanch_caps.woff) format('woff'), url(../fonts/blanch-caps/regular/blanch_caps.ttf) format('truetype'), url(../fonts/blanch-caps/regular/blanch_caps.svg#blanchcaps) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'blanchcaps_light';
  src: url(../fonts/blanch-caps/light/blanch_caps_light.eot);
  src: url(../fonts/blanch-caps/light/blanch_caps_light.eot?#iefix) format('embedded-opentype'), url(../fonts/blanch-caps/light/blanch_caps_light.woff) format('woff'), url(../fonts/blanch-caps/light/blanch_caps_light.ttf) format('truetype'), url(../fonts/blanch-caps/light/blanch_caps_light.svg#blanchcaps_light) format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  min-height: 100%;
}
body {
  font-family: 'blanchcaps', Arial, Helvetica, sans-serif;
  font-size: 160%;
  background: url(../images/background.jpg) center top no-repeat #000000;
  color: #ffffff;
  line-height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 100%;
}
h1,
h2,
h3,
p {
  margin: 0 0 15px 0;
}
h2 {
  font-size: 120%;
  color: #ffc000;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #ffc000;
  text-decoration: none;
}
a:hover .yellow,
a:focus .yellow {
  color: #ffffff;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
.yellow {
  color: #ffc000;
}
img {
  width: 100%;
}
.text-right {
  text-align: right;
}
.carousel {
  margin-bottom: 15px;
  width: 100%;
}
.carousel .carousel-inner .item a {
  display: block;
  max-width: 100%;
  height: auto;
}
.carousel .carousel-inner .item a img {
  display: block;
  max-width: 100%;
  height: auto;
}
.node-event .hero {
  margin-bottom: 15px;
}
.node-event .hero img {
  width: 100%;
  height: auto;
}
.node-venue map {
  width: 350px;
  height: 350px;
}
.panel {
  background: #333333;
}
.panel .panel-heading h2 {
  margin: 0;
}
.panel.panel-teaser .panel-body {
  padding: 0;
}
.panel.panel-teaser .panel-body img {
  width: 100%;
  height: auto;
}
.panel.panel-teaser .list-group li {
  background-color: #333333;
  font-size: 80%;
  background-size: 15px 15px;
  background-position: 15px center;
  background-repeat: no-repeat;
  border-color: #232323 !important;
}
.panel.panel-teaser .list-group li.list-group-item-date {
  padding-left: 45px;
  background-image: url(../images/events-icon.png);
}
.panel.panel-teaser .list-group li.list-group-item-venue {
  padding-left: 45px;
  background-image: url(../images/venues-icon.png);
}
.panel.panel-teaser .list-group li.list-group-item-tags a {
  margin-right: 5px;
}
.panel.panel-teaser .list-group li.list-group-item-tags a:before {
  content: "#";
}
.panel.panel-teaser .list-group li.list-group-item-tags a:nth-child(odd) {
  color: #ffc000;
}
#logo {
  width: 250px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#logo img {
  width: 100%;
}
#triptych .region {
  border: 1px dashed #ffc000;
  padding: 15px;
}
#triptych .region h2 {
  color: #ffffff;
  letter-spacing: 4px;
}
#triptych .region h2::first-letter {
  color: #ffc000;
}
#main-menu {
  border-top: 1px dashed #ffffff;
  border-bottom: 1px dashed #ffffff;
  margin-bottom: 15px;
  padding-left: 0;
}
#main-menu li a {
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 45px;
}
#main-menu li a[title="home"] {
  background-image: url(../images/home-icon.png);
}
#main-menu li a[title="events"] {
  background-image: url(../images/events-icon.png);
}
#main-menu li a[title="contact"] {
  background-image: url(../images/contact-icon.png);
}
#main-menu li a[title="mail"] {
  background-image: url(../images/mail-icon.png);
}
.nav {
  padding: 15px 0;
  list-style: none;
}
.nav li a {
  font-size: 100%;
}
.nav li.active a {
  color: #ffc000;
}
.nav.nav-inline li {
  display: inline-block;
}
.nav.nav-inline li:not(.last) {
  margin-right: 15px;
}
.nav.nav-justified li {
  display: table-cell;
  width: 1%;
  float: none;
}
.nav.nav-justified li a {
  display: block;
  text-align: center;
}
.nav.nav-social li a {
  padding-left: 55px;
  background-repeat: no-repeat;
  background-position: left 12px;
  letter-spacing: 3px;
}
.nav.nav-social li a[title="facebook"] {
  background-image: url(../images/facebook-icon.png);
}
.nav.nav-social li a[title="instagram"] {
  background-image: url(../images/instagram-icon.png);
}
.maintenance h1 {
  font-size: 1000%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 10px;
}
.maintenance h1 p {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.maintenance h1 p:first-letter {
  color: #ffc000;
}
.form-item {
  margin-bottom: 15px;
}
.form-item label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.form-item .form-textarea-wrapper textarea,
.form-item .form-text {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 6px 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#block-views-events-block ol {
  list-style: none;
}
.ripple {
  position: absolute;
  z-index: -1;
  top: 140px;
  left: 50%;
  display: block;
  border-radius: 2px;
  width: 2px;
  height: 2px;
  -webkit-animation: rip 1s infinite;
  -moz-animation: rip 1s infinite;
  -o-animation: rip 1s infinite;
  animation: rip 1s infinite;
}
.ripple:before,
.ripple:after {
  display: block;
  border-radius: 2px;
  width: 2px;
  height: 2px;
  -webkit-animation: rip 6s infinite;
  -moz-animation: rip 6s infinite;
  -o-animation: rip 6s infinite;
  animation: rip 6s infinite;
  content: '';
  position: absolute;
}
.ripple:before {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -o-animation-delay: .2s;
  animation-delay: .2s;
  top: 5px;
  left: 25px;
}
.ripple:after {
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  -o-animation-delay: .8s;
  animation-delay: .8s;
  top: 25px;
  left: 0;
}
@-webkit-keyframes rip {
  0% {
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
    opacity: 0;
  }
  5% {
    box-shadow: 0 0 0 0 #333333, 0 0 0 0 rgba(255, 255, 255, 0.4), 0 0 0 0 #333333, 0 0 0 0 rgba(0, 0, 0, 0.08);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 40px 200px #333333, 0 0 10px 210px transparent, 0 0 30px 220px #333333, 0 0 5px 230px transparent;
  }
}
@keyframes rip {
  0% {
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
    opacity: 0;
  }
  5% {
    box-shadow: 0 0 0 0 #333333, 0 0 0 0 rgba(255, 255, 255, 0.4), 0 0 0 0 #333333, 0 0 0 0 rgba(0, 0, 0, 0.08);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 40px 200px #333333, 0 0 10px 210px transparent, 0 0 30px 220px #333333, 0 0 5px 230px transparent;
  }
}
@-moz-keyframes rip {
  0% {
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
    opacity: 0;
  }
  5% {
    box-shadow: 0 0 0 0 #333333, 0 0 0 0 rgba(255, 255, 255, 0.4), 0 0 0 0 #333333, 0 0 0 0 rgba(0, 0, 0, 0.08);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 40px 200px #333333, 0 0 10px 210px transparent, 0 0 30px 220px #333333, 0 0 5px 230px transparent;
  }
}