﻿// ----------------------------------------------------------------------------
// ------------------------------------- Colours
// ----------------------------------------------------------------------------

@black: #090909;
@charcoal: #333333;
@white: #FFFFFF;
@yellow: #ffc000;


// ----------------------------------------------------------------------------
// ------------------------------------- Variables
// ----------------------------------------------------------------------------

@gutter: 15px;
@gutter-lite: @gutter/3*2;

// ----------------------------------------------------------------------------
// ------------------------------------- Generic
// ----------------------------------------------------------------------------

@import 'fonts.less';

html {
	min-height: 100%;
}

body {
	font-family: 'blanchcaps', Arial, Helvetica, sans-serif;
	font-size: 160%;
	background: url(../images/background.jpg) center top no-repeat #000;
	color: @white;
	line-height: 100%;
	padding-top: @gutter;
	padding-bottom: @gutter;
	min-height: 100%;
}

h1, h2, h3, p {
	margin: 0 0 @gutter 0;
}

h2 {
	font-size: 120%;
	color: @yellow;
}

a {
	color: @white;
	text-decoration: none;

	&:hover, &:focus {
		color: @yellow;
		text-decoration: none;

		.yellow {
			color: @white;
		}
	}

	&:focus {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
}

ol, ul {
	margin: 0;
	padding: 0;
}

.yellow {
	color: @yellow;
}

img {
	width: 100%;
}

.text-right {
	text-align: right;
}

// ----------------------------------------------------------------------------
// ------------------------------------- Carousel
// ----------------------------------------------------------------------------

.carousel {
	margin-bottom: @gutter;
	width: 100%;

	.carousel-inner {
		.item {
			a {
				display: block;
				max-width: 100%;
				height: auto;

				img {
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Events
// ----------------------------------------------------------------------------

.node-event {
	.hero {
		margin-bottom: @gutter;

		img {
			width: 100%;
			height: auto;
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- venue
// ----------------------------------------------------------------------------

.node-venue {
	map {
		width: 350px;
		height: 350px;
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Panels
// ----------------------------------------------------------------------------

.panel {
	background: @charcoal;

	.panel-heading {
		h2 {
			margin: 0;
		}
	}

	&.panel-teaser {
		.panel-body {
			padding: 0;

			img {
				width: 100%;
				height: auto;
			}
		}

		.list-group {
			li {
				background-color: @charcoal;
				font-size: 80%;
				background-size: 15px 15px;
				background-position: 15px center;
				background-repeat: no-repeat;
				border-color: lighten(@black, 10%) !important;

				&.list-group-item-date {
					padding-left: 45px;
					background-image: url(../images/events-icon.png);
				}

				&.list-group-item-venue {
					padding-left: 45px;
					background-image: url(../images/venues-icon.png);
				}

				&.list-group-item-tags {
					a {
						margin-right: 5px;

						&:before {
							content: "#";
						}

						&:nth-child(odd) {
							color: @yellow;
						}
					}
				}
			}
		}
	}

	.panel-resident {
		img {
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Logo
// ----------------------------------------------------------------------------

#logo {
	width: 250px;
	display: block;
	margin-right: auto;
	margin-left: auto;

	img {
		width: 100%;
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Triptych
// ----------------------------------------------------------------------------

#triptych {
	.region {
		border: 1px dashed @yellow;
		padding: @gutter;

		h2 {
			color: @white;
			letter-spacing: 4px;

			&::first-letter {
				color: @yellow;
			}
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Main menu
// ----------------------------------------------------------------------------

#main-menu {
	border-top: 1px dashed @white;
	border-bottom: 1px dashed @white;
	margin-bottom: @gutter;
	padding-left: 0;

	li {
		a {
			background-repeat: no-repeat;
			background-position: center top;
			padding-top: 45px;

			&[title="home"] {
				background-image: url(../images/home-icon.png);
			}

			&[title="events"] {
				background-image: url(../images/events-icon.png);
			}

			&[title="contact"] {
				background-image: url(../images/contact-icon.png);
			}

			&[title="mail"] {
				background-image: url(../images/mail-icon.png);
			}
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Navs
// ----------------------------------------------------------------------------

.nav {
	padding: @gutter 0;
	list-style: none;

	li {
		a {
			font-size: 100%;
		}

		&.active {
			a {
				color: @yellow;
			}
		}
	}

	&.nav-inline {
		li {
			display: inline-block;

			&:not(.last) {
				margin-right: @gutter;
			}
		}
	}

	&.nav-justified {
		li {
			display: table-cell;
			width: 1%;
			float: none;

			a {
				display: block;
				text-align: center;
			}
		}
	}

	&.nav-social {
		li {
			a {
				padding-left: 55px;
				background-repeat: no-repeat;
				background-position: left 12px;
				letter-spacing: 3px;

				&[title="facebook"] {
					background-image: url(../images/facebook-icon.png);
				}

				&[title="instagram"] {
					background-image: url(../images/instagram-icon.png);
				}
			}
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Maintenance
// ----------------------------------------------------------------------------

.maintenance {
	h1 {
		font-size: 1000%;
		font-weight: 400;
		text-align: center;
		letter-spacing: 10px;

		p {
			display: inline-block;
			margin: 0;
			padding: 0;

			&:first-letter {
				color: @yellow;
			}
		}
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Forms
// ----------------------------------------------------------------------------

.form-item {
	margin-bottom: 15px;

	label {
		display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
	}

	.form-textarea-wrapper textarea, .form-text {
		display: block;
		width: 100%;
		min-height: 34px;
		padding: 6px 12px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #FFF;
		background-image: none;
		border: 1px solid #CCC;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		-moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Events list
// ----------------------------------------------------------------------------

#block-views-events-block {
	ol {
		list-style: none;
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Ripple
// ----------------------------------------------------------------------------

.ripple {
	position: absolute;
	z-index: -1;
	top: 140px;
	left: 50%;
	display: block;
	border-radius: 2px;
	width: 2px;
	height: 2px;
	-webkit-animation: rip 1s infinite;
	-moz-animation: rip 1s infinite;
	-o-animation: rip 1s infinite;
	animation: rip 1s infinite;

	&:before, &:after {
		display: block;
		border-radius: 2px;
		width: 2px;
		height: 2px;
		-webkit-animation: rip 6s infinite;
		-moz-animation: rip 6s infinite;
		-o-animation: rip 6s infinite;
		animation: rip 6s infinite;
		content: '';
		position: absolute;
	}

	&:before {
		-webkit-animation-delay: .2s;
		-moz-animation-delay: .2s;
		-o-animation-delay: .2s;
		animation-delay: .2s;
		top: 5px;
		left: 25px;
	}

	&:after {
		-webkit-animation-delay: .8s;
		-moz-animation-delay: .8s;
		-o-animation-delay: .8s;
		animation-delay: .8s;
		top: 25px;
		left: 0;
	}
}

// ----------------------------------------------------------------------------
// ------------------------------------- Keyframes
// ----------------------------------------------------------------------------

@-webkit-keyframes rip {
	0% {
		box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
		opacity: 0;
	}

	5% {
		box-shadow: 0 0 0 0 @charcoal, 0 0 0 0 rgba(255,255,255,0.4), 0 0 0 0 @charcoal, 0 0 0 0 rgba(0,0,0,0.08);
		opacity: 1;
	}

	100% {
		box-shadow: 0 0 40px 200px @charcoal, 0 0 10px 210px transparent, 0 0 30px 220px @charcoal, 0 0 5px 230px transparent;
	}
}

@keyframes rip {
	0% {
		box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
		opacity: 0;
	}

	5% {
		box-shadow: 0 0 0 0 @charcoal, 0 0 0 0 rgba(255,255,255,0.4), 0 0 0 0 @charcoal, 0 0 0 0 rgba(0,0,0,0.08);
		opacity: 1;
	}

	100% {
		box-shadow: 0 0 40px 200px @charcoal, 0 0 10px 210px transparent, 0 0 30px 220px @charcoal, 0 0 5px 230px transparent;
	}
}

@-moz-keyframes rip {
	0% {
		box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
		opacity: 0;
	}

	5% {
		box-shadow: 0 0 0 0 @charcoal, 0 0 0 0 rgba(255,255,255,0.4), 0 0 0 0 @charcoal, 0 0 0 0 rgba(0,0,0,0.08);
		opacity: 1;
	}

	100% {
		box-shadow: 0 0 40px 200px @charcoal, 0 0 10px 210px transparent, 0 0 30px 220px @charcoal, 0 0 5px 230px transparent;
	}
}
