﻿@font-face {
  font-family: 'blanchcaps';
  src: url(../fonts/blanch-caps/regular/blanch_caps.eot);
  src: url(../fonts/blanch-caps/regular/blanch_caps.eot?#iefix) format('embedded-opentype'), url(../fonts/blanch-caps/regular/blanch_caps.woff) format('woff'), url(../fonts/blanch-caps/regular/blanch_caps.ttf) format('truetype'), url(../fonts/blanch-caps/regular/blanch_caps.svg#blanchcaps) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'blanchcaps_light';
  src: url(../fonts/blanch-caps/light/blanch_caps_light.eot);
  src: url(../fonts/blanch-caps/light/blanch_caps_light.eot?#iefix) format('embedded-opentype'), url(../fonts/blanch-caps/light/blanch_caps_light.woff) format('woff'), url(../fonts/blanch-caps/light/blanch_caps_light.ttf) format('truetype'), url(../fonts/blanch-caps/light/blanch_caps_light.svg#blanchcaps_light) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url(../fonts/open-sans/regular/opensans-regular-webfont.eot);
  src: url(../fonts/open-sans/regular/opensans-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/open-sans/regular/opensans-regular-webfont.woff) format('woff'), url(../fonts/open-sans/regular/opensans-regular-webfont.ttf) format('truetype'), url(../fonts/open-sans/regular/opensans-regular-webfont.svg#open_sansregular) format('svg');
  font-weight: normal;
  font-style: normal;
}