
.google_map_field_display {
  height: 300px;
  width: 100%;
}

.google-map-field-preview {
  -webkit-box-shadow: 0 0 4px 0px #999999;
  -moz-box-shadow: 0 0 4px 0px #999999;
  -o-box-shadow: 0 0 4px 0px #999999;
  box-shadow: 0 0 4px 0px #999999;
  height: 200px;
  width: 300px;
}

.google-map-field-fields-container,
.google-map-field-setter-container {
  float: left;
  margin-right: 15px;
}

.google-map-field-setter-container .form-submit {
  margin-top: 10px;
}

#gmf_container {
  -webkit-box-shadow: 0 0 4px 0px #999999;
  -moz-box-shadow: 0 0 4px 0px #999999;
  -o-box-shadow: 0 0 4px 0px #999999;
  box-shadow: 0 0 4px 0px #999999;
  height: 317px;
  width: 723px;
}

#centre_on {
  margin-top: 15px;
}

#centre_on label {
  display: inline;
  font-weight: normal;
}

#centre_on label input {
  border: 1px solid lightgrey;
  margin-left: 15px;
}

#centre_on button {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: url("/themes/seven/images/buttons.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  border-image: none;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  color: #5a5a5a;
  cursor: pointer;
  display: inline;
  font-family: "Lucida Grande",Verdana,sans-serif;
  font-size: 1em;
  font-weight: normal;
  padding: 4px 17px;
  text-align: center;
}

#centre_on #map_error {
  color: #f70000;
  font-weight: bold;
}
